*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Nav {
  margin-left: 0px;
  height: 40px;
  color: white;
  position: fixed;
  z-index: 2;
}
img ~ img  {
  position: fixed;
  right: 10px;
  top:8px;
}
.Nav__logo{
  margin-top: 12px;
}
.Nav__black{
  z-index: 2;
  background: rgba(0, 0, 0, 0.95);
  width: 100%;
}

p {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 10px;
  line-height: 1.8;
}

